{% extends 'main/layout.html' %}

{% block title %}Химия{% endblock %}

{% block content %}
    <div class="features">
        <h1>Химия</h1>
        <h3><p>На странице представлены проекты учеников 11-4 класса по химии!</p></h3>
        {% for el in values %}
            <p> {{el}}</p>
        {% endfor %}
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/ermolaev_evgeniy'>Ермолаев Евгений</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/galkina_ekaterina'>Галкина Екатерина: Проблема и решение загрязнения подземных вод Ленинградской области
железом и марганцем
</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/cherchik_sofia'>Черчик София: Сахар</a></h2></p>
        <a href="{% url 'home' %}" <button class="btn btn-warning">На главную</button><a/>

    </div>
{% endblock %}