
{% extends 'main/layout.html' %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'override.css' %}" />{% endblock %}
{% block title %}Биология{% endblock %}
<link href="https://fonts.cdnfonts.com/css/luminari" rel="stylesheet">
{% block content %}
    <div class="features">
        <h1>Биология</h1>
        <h3><p>На странице представлены проекты учеников 11-4 класса по биологии!</p></h3>
        {% for el in values %}
            <p> {{el}}</p>
        {% endfor %}
       <h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/klevakina_daria'> Клевакина Дарья: Витамины. Мода или здоровье?<a/></h2
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/gurbatova_emilia'>Гурбатова Эмилия: Современные аспекты репродуктивного здоровья девочек подростков</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/chestikova_tatyana'>Честикова Татьяна: Исследование показателей сердечных сокращений и сатурации крови<a/></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/kirillova_olga'>Кириллова Оля: Видовое разнообразие Аптекарского огорода</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/bichurina_ekaterina'>Бичурина Екатерина</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/balaeva_alana'>Балаева Алана: Стволовые клетки</a></h2></p>
        <p><h2><a style = 'text-decoration-color : yellow; color: white' href = 'https://taplink.cc/abbasgulieva_aytach'>Аббасгулиева Айтач: Гармония в цвете-гармония в душе-гармония в жизни</a></h2></p>
        <a href="{% url 'home' %}" <button class="btn btn-warning">На главную</button><a/>


    </div>
{% endblock %}