{% extends 'main/layout.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <h3> Здравствуйте! На этом сайте Вы найдёте каталог проектов, выполненных учениками 11-4 класса в рамках проектоной деятельности в 10-м и 11-м классах.</h3>
        <img src="{% static 'main/img/hihi.jpg' %}" alt="Обложка">
        {% for el in values %}
            <p> {{el}}</p>
        {% endfor %}
    </div>
{% endblock %}